body {
  margin: 0;
  background-image: url("./powell_cat.jpg");
  background-position: center; 
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover; 

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-size: 16px;
  color: black;
}

page_title {
  font-size: xx-large;
  display:inline-block;
  position:relative;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

date {
  font-size: 14px;
  color: gray;
}
.description {
  font-size: 14px;
}


.photo {
  height: 60px;
  width: 80px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.list-group-mine .list-group-item {
  background-color: transparent;
  border-top: 1px solid #ddd;
  border-radius: 0;
  color: #fff;
  }